@font-face {
    font-family: Agatho;
    src: url(fonts/Agatho_\ Light.otf);
}
@font-face {
    font-family: PS51;
    src: url(fonts/p5hatty-1.ttf);
}
@font-face {
    font-family: Markin;
    src: url(fonts/Markin\ LT\ Ultra\ Bold.ttf);
}
@font-face {
    font-family: PS5;
    src: url(fonts/Persona5MenuFontPrototype-Regular.ttf);
}
@font-face {
    font-family: Magazine;
    src: url(fonts/Magazine-Cutouts-Font.ttf);
}

body {
    overflow-x: hidden;
}

.Banner {
    width: 100%;
    height: 500px;
    background-image: linear-gradient(rgba(247, 116, 9, 0.075),rgba(0, 0, 0, 0.034)), url(https://i.pinimg.com/564x/41/4e/2c/414e2c3e3dadb00e143b696c191b1f3b.jpg);
    background-size: cover;
    background-size: contain;
    border-radius: 50px;
    overflow: hidden;
    margin-top: 100px;
}

.OT {
    color: white;
    padding: 150px 0px 0px 100px;
    font-family: Magazine;
    text-align: center;
    font-size: 50px;
}

.navbar{
    width: 100%;
    margin: -100px 0px 0px 0px ;
    padding: 10px 20px 0px 20px;
    display: flex;
    justify-content: space-between;
    position: fixed;

}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0px 50px;
    font-size: 30px;
}
.navbar ul li a{
    font-family: PS5;
    text-decoration: none;
    color: rgb(165, 11, 11);
    text-transform: uppercase;
    font-size: 30px;
    transition: all 500ms;
}
.navbar ul li a:hover {
    font-size:40px;
    font-size-adjust: 20px;
}

.Logo{
    height: 60px;
    cursor: pointer;
    margin-left: 20px;
}
 

.Left {
    display: flex;
    color: #ffffff;
    font-family: Agatho;
    font-size: 30px;
    text-align: center;
    margin: 400px 0px 0px 400px;
}

.Right {
    display: flex;
    color: #ffffff;
    font-family: Agatho;
    font-size: 30px;
    text-align: center;
    margin: 400px 0px 0px 400px;
}

img {
    border-radius: 50px;
}

.footer {
    font-family: PS51;
    color: #000000;
    font-size: 40px;
    background-color: rgb(165, 11, 11);
    text-align: center;
    padding: 10px;
    margin: -8px;
}

.Left {
    opacity: 0;
    transition: all 1s;
    filter: blur(5px);
    transform: translateX(-100%);
}

.show1 {
    filter: blur(0);
    opacity: 1;
    transform: translateX(0px);
}


.Right {
    opacity: 0;
    transition: all 1s;
    filter: blur(5px);
    transform: translateX(100%);
}

.show2 {
    filter: blur(0);
    opacity: 1;
    transform: translateX(0px);
}
